.cart{
  padding: 0 0 119px;
  &__img{
    width: 178px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__col{
    display: flex;
    &-titles{
      display: flex;
      column-gap: 14px;
      align-items: center;
    }
    &-title{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 20px;
      color: #121212;
    }
    &-art{
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #7D7D7D;
    }
    &-size{
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #7D7D7D;
      margin: 29px 0 25px;
    }
    &-count{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 20px;
      color: #514A7E;
      margin-bottom: 50px;
    }
    &-btm{
      display: flex;
      column-gap: 64px;
    }

    &-link{
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #514A7E;
    }
  }
  &__prises{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #121212;
    margin-bottom: 30px;
  }
  &__price{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #514A7E;
    margin-bottom: 33px;
  }
  &__like, &__carts{
    display: flex;
    align-items: center;
    column-gap: 7px;
  }
  &__back{
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    &-top{
      column-gap: 50px;
      display: flex;

    }
    &-link{
      padding: 19px 14px;

      border-radius: 50%;
      background: #514A7E;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-titles {
      display: flex;
      column-gap: 12px;
      align-items: baseline;
    }
    &-title{
      padding: 0 12px 0 50px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 40px;
      color: #121212;
    }
    &-icon{
      display: flex;

    }
  }
}