.footer{
  background: #514A7E;
  padding: 81px 0 85px;
  &__title{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    //padding-top: 81px;
    color: #FFFDF5;
  }
  &__row{
    display: flex;
  }
  &__col{
    width: 20%;
  }
  &__col1{
    width: 30%;
  }
  &__col2{
    width: 10px;
    margin-top: 140px;
  }
  &__item{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
    cursor: pointer;

    color: #FFFDF5;
  }
  &__ul{
    display: grid;

  }
  &__text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;

    color: #FFFDF5;
  }
  &__icons{
    display: flex;
    column-gap: 15px;
  }
  &__item1{
    display: flex;
    align-items: center;
    column-gap: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;

    color: #FFFDF5;
  }
}