.header{
  padding: 50px 0;
  background: #FFFDF5;
  &__show{
    display: none;
  }
  &__menus{
    display: none;
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //position: relative;

  }

  &__right{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 40px;
    transition: 0.5s;

  }
  &__right:hover{
    .header__show{
      min-width: 210px;
      min-height: 240px;
      position: absolute;
      display: block;
      z-index: 99;
      top: 35px;
      right: -2px;
      background: #FFFDF5;
      box-shadow: 0 4px 20px rgba(51, 51, 51, 0.05);
      transition: 0.5s;
      &-top{
        text-align: center;
        padding-top: 18px;
      }
      &-bottom{
        padding-left: 24px;
      }
      &-btn{
        padding: 8px 34px 9px 35px;
        margin: 15px 0;
        border: none;
        background: #514A7E;
        &-text{
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #FFFDF5;
        }
      }
    }
  }
  &__menu{
    //position: relative;
    display: flex;
    //align-items: center;
    //column-gap: 40px;
    transition: 0.5s;

  }
  &__menu:hover{
    .header__menus{
      display: block;
      top: 45px;
      background: #121212;
      min-width: 278px;
      min-height: 100vh;
      position: absolute;
      z-index: 99;
      &-bottom{
        margin-left: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: #FFFDF5;
        padding-bottom: 20px;
      }
    }
  }
  &__search{
    display: flex;
    align-items: center;
    &-field{
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 12px;
      line-height: 14px;
      outline: none;
      border: none;
      border-bottom: #7D7D7D 1px solid;
      width: 308px;
      padding-bottom: 4px;
    }
    &-icon{
      padding-right: 20px;

    }
  }
  &__icons{
    display: flex;
    column-gap: 17px;
    //position: relative;
    &-link-admin{
      cursor: pointer;
    //  .header__show{
    //    //&::before{
    //    //  content: '';
    //    //  width: 15px;
    //    //  height: 15px;
    //    //  background: aqua;
    //    //  position: absolute;
    //    //}
    //    min-width: 210px;
    //    min-height: 240px;
    //    position: absolute;
    //    display: block;
    //    z-index: 99;
    //    top: 35px;
    //    right: -2px;
    //    background: #FFFDF5;
    //    box-shadow: 0 4px 20px rgba(51, 51, 51, 0.05);
    //    transition: 0.5s;
    //    &-top{
    //      text-align: center;
    //      padding-top: 18px;
    //    }
    //    &-bottom{
    //      padding-left: 24px;
    //    }
    //    &-btn{
    //      padding: 8px 34px 9px 35px;
    //      margin: 15px 0;
    //      border: none;
    //      background: #514A7E;
    //      &-text{
    //        font-family: 'Roboto', sans-serif;
    //        font-weight: 400;
    //        font-size: 14px;
    //        color: #FFFDF5;
    //      }
    //    }
    //  }
    }
  }
}