.invite{
  padding-bottom: 150px;
  position: relative;
  &__row{
    display: flex;

  }
  &__col-big{
    width: 70%;
    background: #514A7E;
  }
  &__box{
    margin: 40px 122px 39px 135px;
    background: #FFFDF5;
    padding: 34px 52px 42px 51px;
  }
  &__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #121212;
    margin-bottom: 40px;
  }
  &__circle-border{
    position: absolute;
    bottom: -25px;
    right: 0;
  }
  &__circle-back{
    position: absolute;
    top: 210px;
    right: 0;
  }
}