@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:wght@300;400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;

}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  &-small {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
  }
}



@import "header";
@import "home";
@import "welcome";
@import "footer";
@import "choose";
@import "breadCrumbs";
@import "catalog";
@import "cart";
@import "favorites";
@import "review";
@import "questions";
@import "cooperation";
@import "invite";
@import "product";
@import "shoping";
@import "login";
@import "slider";
@import "bonus";